{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
    <div style="margin-bottom: 10px;">
        <a href="/admin/jobs/bomgeneration/ingress-reports-form/">Back</a>
    </div>

    <div style="margin-bottom: 10px;">
        <h1>Ingress Report Date: <span style="font-weight:bold;">{{ date }}</span></h1>
    </div>

    <table>
        <tr>
            <td><span style="font-weight:bold;">Item</span></td>
            <td><span style="font-weight:bold;">Count</span></td>
        </tr>
        <tr>
            <td>Total Posts</td>
            <td>{{ total_posts }}</td>
        </tr>
        <tr>
            <td>Total Panels</td>
            <td>{{ total_panels }}</td>
        </tr>
        <tr>
            <td>Total Beams</td>
            <td>{{ total_beams }}</td>
        </tr>
        <tr>
            <td>Total Facia Lengths</td>
            <td>{{ total_facia_lengths }}</td>
        </tr>
        <tr>
            <td>Total Facia Widths</td>
            <td>{{ total_facia_widths }}</td>
        </tr>
        <tr>
            <td>Total Corner Length Beams</td>
            <td>{{ total_corner_length_beams }}</td>
        </tr>
        <tr>
            <td>Total Corner Width Beams</td>
            <td>{{ total_corner_width_beams }}</td>
        </tr>
    </table>
{% endblock content %}